<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        navbar{
            background-color: white;
            border-radius: 30px;
          }
          .navbar ul
          {
            overflow: auto;
        }
        .navbar li{
            float:left;
            list-style: none; 
            margin: 13px 20px;
            
        }
        .navbar li a{
            padding: 3px 3px;
            text-decoration: none;
            color: black;
        }
        .navbar li a:hover{
            color: red
        }
    </style>
  
</head>


<body style ="background-color: beige;">
            <div id="main-content">
                <h2>All Records</h2>  
                <nav class="navbar">
            <ul>
                <li><a href="/search">Home</a></li>
                <li><a href="/">AddCategory</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/login">Log Out</a></li>


             </ul>
        </nav><br>
                     
                <form action ="/search" method="GET">
                    <input type="text" name="term"  placeholder="Search by Category Name">
                    <input type="submit" value="Search" style="background-color:greenyellow">
                </form>                <table cellpadding="7px">
                    <thead>
                        
                        <th>Id</th>
                        <th>Category Name</th>
                        <th>Parent Category</th>
                        <th>Operations</th>

                       
          </thead>
          <tbody>
                        {{#each category}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.category_name}}</td>
                            <td>{{this.pid}}</td>
                             <td>
                                <a href='/edit?id={{id}}' >Edit</a>
                                <a href='/delete?id={{id}}' >Delete</a>
                                
                            </td>
                           
                           
                      
                        {{/each}}
                        
                              </tr>
                    </tbody>
  </table>
            </div>
        </body>
        </html>